.text-input {
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 0.5rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-input--filled {
    border: 1px solid #34d399;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #ecf9f4;
}